<div class="container container-fluid">
  <div class="row main">

    <div class="main-login main-center">
      <form class="form-horizontal" [formGroup]="userDetails" (ngSubmit)="register()" novalidate>
        <div class="text-ctr">
          <img src="assets/imags/appiness-logo.png" class="image">
        </div>
        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Your Name<sup>*</sup></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input id="username" class="form-control" type="text" formControlName="name" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Username<sup>*</sup></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input class="form-control" type="text" formControlName="uname" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Your Email<sup>*</sup></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="email" class="form-control" formControlName="uemail" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">UserType<sup>*</sup></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <select class="form-control" formControlName="usertype">
                <option>Admin</option>
                <option>Member</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Mobile Number<sup>*</sup></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-mobile fa" aria-hidden="true"></i></span>
              <input class="form-control" type="text" formControlName="umobile" minlength="1" maxlength="10">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Address<sup>*</sup></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <textarea rows="4" cols="55" formControlName="uaddress" maxlength="30" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password<sup>*</sup></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input class="form-control" type="password" (keypress)="validate()" formControlName="upass" minlength="8">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">Confirm Password<sup>*</sup></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input class="form-control" type="password" formControlName="uconpass" minlength="8">
            </div>
          </div>
        </div>
        <div class="form-group ">
          <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
        </div>
        <div class="login-register">
          <a href="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>